<div class="page-header">
    <h3>List of members</h3>
</div>
<table class="table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Score</th>
    </tr>
    {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.score}}</td>
        </tr>
    {{/each}}
</table>